<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ card.get_name }}</h5>
    <p class="card-text">{{ card.get_bank }}</p>

    <form action="{% url 'card' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="card_id" value="{{ card.get_id }}" />
      <button type="submit" class="btn btn-primary">More info</button>
    </form>

    <form action="{% url 'confirm_card_deletion' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="card_id" value="{{ card.get_id }}" />
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>

  </div>
</div>
