{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="text-center">Sign-Up</h1>
        
        {% for  msg in messages %}
          {% if 'error' in msg.tags %}
            <div class="alert alert-danger" role="alert">
              {{ msg }}
            </div>
          {% endif %}
          {% if 'success' in msg.tags %}
            <div class="alert alert-success" role="alert">
              {{ msg }}
            </div>
          {% endif %}
        {% endfor %}
        
        <form method="post" action="{% url 'signup' %}" class="my-4">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Agregar</button>
        </form>

      </div>
    </div>
  </div>
{% endblock %}