{% extends "base.html" %}
{% block content %}
<center>
    <h1>User Card</h1>

    <form action="{% url 'card' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-secondary" type="submit" name="cancel">Return Home</button>
    </form>

    <h3>Payment Information</h3>
    <p>Current Payment Date: {{ user_card.get_payment_date }}</p>
    <form action="{% url 'card' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="card_id" value="{{ user_card.id }}">
        <label for="new_payment_date">New Payment Date:</label>
        <input type="date" id="new_payment_date" name="new_payment_date" value="{{ user_card.get_payment_date }}" required>
        <button type="submit" class="btn btn-primary">Edit Payment Date</button>
    </form>

    <h3>Cut Off Information</h3>
    <p>Current Cut Off Date: {{ user_card.get_cut_off_date }}</p>
    <input type="hidden" name="card_id" value="{{ user_card.id }}">
    <form action="{% url 'card' %}" method="post">
        {% csrf_token %}
        <label for="new_cut_off_date">New Cut Off Date:</label>
        <input type="date" id="new_cut_off_date" name="new_cut_off_date" value="{{ user_card.get_cut_off_date }}" required>
        <button type="submit" class="btn btn-primary">Edit Cut Off Date</button>
    </form>

</center>
{% endblock content %}